@media (max-width:1250px) {

    #banner h1 {
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
        width: 100%;
    }


    .card p {
        width: 90%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .card {
        width: 17%;
        margin: 1.45%;
    }

    #articles {
        width: 65%;

    }

    #articles article {
        width: 97%;
    }

    #footer .wrap>div {
        width: 24%;
    }

    #footer #browsers img {
        width: 14%;
    }

    #footer h5 {
        font-size: 30px;
    }

    #footer img {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .wrap {
        width: 95%;
        margin: 0 auto;
    }

}

@media (max-width:1080px) {
    .card .category {
        font-size: 17px;
    }

    .card .description {
        font-size: 14px;
    }

    #articles {
        width: 61%;

    }
}

@media (max-width:970px) {
    #articles {
        width: 59%;
    }

    #footer h5 {
        font-size: 22px;
    }

    #footer .wrap>div {
        width: 26%;
        margin: 20px;
    }
}

@media (max-width:953px) {
    #articles {
        width: 65%;
    }

    #lateral {
        width: 25%;
    }

    #lateral input[type="text"] {
        width: 78%;
    }

    .aside-box {
        width: 95%;
        min-height: 140px;
        height: auto;
        padding-bottom: 10px;
    }

    #login a {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #login input[type="email"],
    #login input[type="password"] {
        width: 65%;
    }

    #login #user,
    #login #password {
        margin-left: 24px;
    }

    #login input[type="reset"] {
        display: none;
    }

    #login input[type="submit"],
    #login button {
        margin-bottom: 0px;
    }
}

@media (max-width:899px) {
    #lateral h3 {
        font-size: 20px;
    }
}

@media (max-width:799px) {
    #banner h1 {
        font-size: 29px;
    }
    .card{
        height: auto;
    }

    .card .category{
        font-size: 15px;
        margin-top: -23px;
    }

    .card .description{
        display: none;
    }
}

@media (max-width:724px) {
    #header{
        width: 100%;
        height: 125px;
        padding-top: 20px;
    }

    #logo{
        float: none;
        margin: 0 auto;

    }
    #menu{
        clear: both;
        float: none;
        margin: 0 auto;
        width: 440px;
    }

    #lateral input[type="text"]{
        width: 70%;
    }

}

@media (max-width:660px) {
    #articles{
        float: none;
        width: 100%;
        margin: 0 auto;
        min-height: auto;
    }

    #articles article {
        padding: 5px;
    }

    #lateral{
        width: 100%;
        float: none;
        margin: 0 auto;
        min-height: auto;
        margin-top: 20px;
    }

    #banner h1 {
        font-size: 25px;
    }

    #lateral input[type="text"]{
        width: 93%;
    }

    #login input[type="email"],
    #login input[type="password"]{
        width: 90%;
    }

    #footer{
        height: auto;
        padding-bottom: 40px;
    }

    #footer h5 {
        font-size: 25px;
    }
    
    #footer .wrap>div {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width:549px) {

    #header{

        height: 275px;

    }

    #menu{
        width: 100%;
        clear: both;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    #menu ul li{
        width: 100%;
        line-height: 52px;
        margin: 0px;
    }

    #menu ul li a:hover{
        transform: scale(1,1);
    }

    .card {
        width: 15%;
        margin: 2%;
    }

    #banner{
        height: 85px;
    }

    #banner h1 {
        font-size: 18px;
    }

    .card .icon{
        font-size: 35px;
    }

    .card .category{
        font-size: 11px;
        height: 30px;
    }

    #lateral input[type="text"]{
        width: 85%;

    }

    #search form > .icon{
        padding-left: 17px;

    }

    #login input[type="email"],
    #login input[type="password"]{
        width: 85%;
    }

    #articles .data{
        float: none;
        margin: -10px;
        border-radius: 0px;
    }

    #articles article h4{
        margin-top: 20px;
    }
}